@import "./variables";
@import "./fonts";

// blocks
@import "./blocks/common";
@import "./blocks/header";
@import "./blocks/hero";
@import "./blocks/statistics";
@import "./blocks/features";
@import "./blocks/choose";
@import "./blocks/global";
@import "./blocks/customers";
