@import "./variables";

// blocks
@import "./blocks/common";
@import "./blocks/header";
@import "./blocks/hero";
@import "./blocks/statistics";
@import "./blocks/features";
@import "./blocks/choose";
