.choose-section {
  margin-top: 200px;

  @media only screen and (max-width: $tablet-l) {
    margin-top: 140px;
  }

  @media only screen and (max-width: $tablet) {
    margin-top: 100px;
  }

  @media only screen and (max-width: $mobile) {
    margin-top: 60px;
  }

  &__wrapper {
    &-top {
      text-align: center;
    }

    &-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;

      @media only screen and (max-width: $tablet-l) {
        justify-content: center;
        flex-wrap: wrap;
      }
    }
  }

  &__title {
    font-size: 35px;
    margin-bottom: 20px;
  }

  &__description {
    max-width: 555px;
    margin: 0 auto;
  }

  .choose-plan {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 50px 50px;
    justify-content: space-between;
    max-width: 330px;
    height: 760px;
    width: 100%;
    border: 2px solid $lighter-gray;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: border 0.5s ease;

    @media only screen and (max-width: $tablet-l) {
      padding: 50px 30px 30px;
      height: 690px;
      margin-top: 45px;
    }

    @media only screen and (max-width: $tablet) {
      padding: 40px 20px 20px;
      height: 670px;
      margin-top: 35px;
    }

    @media only screen and (max-width: $mobile) {
      padding: 30px 15px 15px;
      height: 650px;
      margin-top: 19px;
    }

    &:hover {
      border: 2px solid $red;
    }

    &__heading {
      text-align: center;
      font-size: 18px;
      margin-top: 30px;
    }

    &__list {
      margin: 30px auto 0;
      text-align: left;
    }

    &__item {
      line-height: 2;
      font-size: 14px;

      &::before {
        content: "";
        display: inline-block;
        background: url(../images/check-plan.svg) no-repeat center;
        width: 24px;
        height: 24px;
        margin-right: 20px;
        vertical-align: middle;
      }

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &__price-text {
      font-size: 25px;
      text-align: center;
      margin-bottom: 20px;
    }
  }
}
