.choose-section {
  padding-top: 200px;
  transition: padding 0.5s ease;

  @media only screen and (max-width: $tablet-l) {
    padding-top: 140px;
  }

  @media only screen and (max-width: $tablet) {
    padding-top: 100px;
  }

  @media only screen and (max-width: $mobile) {
    padding-top: 70px;
  }

  &__wrapper {
    &-top {
      text-align: center;
      margin-bottom: 50px;
    }

    &-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;

      @media only screen and (max-width: $tablet-l) {
        justify-content: center;
        flex-wrap: wrap;
      }

      @media only screen and (max-width: $mobile) {
        margin-top: 20px;
      }
    }
  }

  &__title {
    font-size: 35px;
    margin-bottom: 20px;
    transition: font-size 0.5s ease;

    @media only screen and (max-width: $tablet-l) {
      font-size: 28px;
    }

    @media only screen and (max-width: $tablet) {
      font-size: 24px;
    }

    @media only screen and (max-width: $mobile) {
      font-size: 22px;
    }
  }

  &__description {
    max-width: 555px;
    margin: 0 auto;
    margin-bottom: 60px;
    transition: margin 0.5s ease;

    @media only screen and (max-width: $tablet-l) {
      margin-bottom: 45px;
    }

    @media only screen and (max-width: $tablet) {
      margin-bottom: 35px;
    }

    @media only screen and (max-width: $mobile) {
      margin-bottom: 25px;
    }
  }

  .choose-plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 50px 50px;
    justify-content: space-between;
    max-width: 330px;
    height: 760px;
    width: 100%;
    border: 2px solid $lighter-gray;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: border 0.5s ease, padding 0.5s ease, height 0.5s ease,
      transform 0.5s ease;

    &:hover {
      border: 2px solid $red;
      transform: scale(1.05);
    }

    @media only screen and (max-width: $tablet-l) {
      padding: 50px 30px 30px;
      height: 690px;
    }

    @media only screen and (max-width: $tablet) {
      padding: 40px 20px 20px;
      height: 670px;
    }

    @media only screen and (max-width: $mobile) {
      padding: 30px 15px 15px;
      height: 650px;
    }

    &__img {
      margin: 0 auto 30px;
    }

    &__heading {
      text-align: center;
      font-size: 18px;
      margin-bottom: 40px;
    }

    &__list {
      margin: 0 auto;
      text-align: left;
    }

    &__item {
      line-height: 2;
      font-size: 14px;

      &::before {
        content: "";
        display: inline-block;
        background: url(../images/check-plan.svg) no-repeat center;
        width: 24px;
        height: 24px;
        margin-right: 20px;
        vertical-align: middle;
      }

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &__price-text {
      font-size: 25px;
      text-align: center;
      margin-bottom: 20px;
      transition: font-size 0.5s ease;

      @media only screen and (max-width: $tablet-l) {
        font-size: 22px;
      }

      @media only screen and (max-width: $tablet) {
        font-size: 20px;
      }

      @media only screen and (max-width: $mobile) {
        font-size: 18px;
      }
    }
  }
}
