// General styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  border: none;
}

*::before,
*::after {
  box-sizing: border-box;
}

// Html styles
html {
  scroll-behavior: smooth;
}

// Body styles
body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $gray;
  transition: font-size 0.5s ease;

  @media only screen and (max-width: $tablet) {
    font-size: 15px;
  }
}

// Container styles
.container {
  max-width: $desktop;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  transition: padding 0.5s ease;

  @media only screen and (max-width: $tablet-l) {
    padding: 0 15px;
  }

  @media only screen and (max-width: $tablet) {
    padding: 0 10px;
  }
}

img {
  display: block;
}

// Visually hidden styles
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// heading styles

.heading {
  font-weight: 500;
  color: $dark-blue;
  line-height: 1.2;
}

// Button styles
.button {
  padding: 17px 77px;
  background-color: $red;
  color: $white;
  white-space: nowrap;
  font-weight: 700;
  font-size: 16px;
  border-radius: 10px;
  display: inline-block;
  border: 2px solid $red;
  transition: color 0.5s ease, background-color 0.5s ease, font-size 0.5s ease,
    padding 0.5s ease, margin 0.5s ease;

  &:hover {
    background-color: transparent;
    color: $red;
  }

  @media only screen and (max-width: $tablet-l) {
    padding: 13px 56px;
  }

  @media only screen and (max-width: $tablet) {
    padding: 11px 45px;
    font-size: 15px;
  }
}

// Outline button styles
.outline-button {
  padding: 13px 45px;
  background: transparent;
  color: $light-red;
  border: 1px solid $light-red;
  white-space: nowrap;
  font-weight: 500;
  font-size: 16px;
  border-radius: 50px;
  transition: color 0.5s ease, background-color 0.5s ease, margin 0.5s ease,
    opacity 0.5s ease, font-size 0.5s ease, padding 0.5s ease;

  &:hover {
    background-color: $red;
    color: $white;
  }

  @media only screen and (max-width: $tablet-l) {
    padding: 11px 34px;
  }

  @media only screen and (max-width: $tablet) {
    padding: 9px 27px;
    font-size: 15px;
  }
}

// Outline circle button styles
.outline-circle-button {
  padding: 13px 63px;
  background: transparent;
  color: $light-red;
  border: 2px solid $light-red;
  white-space: nowrap;
  font-weight: 700;
  font-size: 16px;
  border-radius: 50px;
  transition: color 0.5s ease, background-color 0.5s ease, opacity 0.5s ease,
    font-size 0.5s ease, padding 0.5s ease;

  @media only screen and (max-width: $tablet-l) {
    padding: 11px 54px;
  }

  @media only screen and (max-width: $tablet) {
    padding: 9px 43px;
    font-size: 15px;
  }

  &:hover {
    background-color: $red;
    color: $white;
  }

  &:active {
    opacity: 0.7;
    background-color: $red;
    color: $white;
  }

  &:focus {
    background-color: $red;
    color: $white;
  }
}
