.customers-section {
  padding-top: 50px;

  &__top {
    text-align: center;
    margin-bottom: 60px;
  }

  &__middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;

    @media only screen and (max-width: $desktop) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: $mobile) {
      flex-direction: column;
      gap: 40px;
    }
  }

  &__title {
    font-size: 35px;
    max-width: 447px;
    margin: 0 auto 20px;
    transition: font-size 0.5s ease;

    @media only screen and (max-width: $tablet-l) {
      font-size: 28px;
    }

    @media only screen and (max-width: $tablet) {
      font-size: 24px;
    }

    @media only screen and (max-width: $mobile) {
      font-size: 22px;
    }
  }

  &__description {
    margin: 0 auto;
    max-width: 555px;
  }

  &-card {
    width: 370px;
    border: 2px solid $lighter-gray;
    padding: 30px 20px;
    border-radius: 10px;
    height: 230px;
    cursor: pointer;
    transition: border 0.5s ease, padding 0.5s ease, height 0.5s ease,
      transform 0.5s ease;

    @media only screen and (max-width: $mobile) {
      width: auto;
      max-width: 370px;
      height: auto;
    }

    &:hover {
      border: 2px solid $red;
      transform: scale(1.05);
    }

    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;

      @media only screen and (max-width: $mobile) {
        flex-direction: column;
        gap: 15px;
      }
    }

    &__description {
      color: $dark-blue;

      @media only screen and (max-width: $mobile) {
        text-align: center;
      }
    }
  }

  .card-user-info {
    display: flex;
    align-items: center;
    gap: 20px;

    &__heading {
      font-size: 18px;
      margin-bottom: 5px;
      white-space: nowrap;
    }

    &__subtitle {
      font-size: 14px;
    }
  }

  .card-user-rating {
    display: flex;
    align-items: center;
    gap: 10px;

    &__text {
      color: $dark-blue;
    }
  }

  .customers-carousel {
    display: flex;
    align-items: center;
    gap: 15px;

    &__btn {
      padding: 7px;
      background-color: $lighter-gray;
      border-radius: 50%;
      transition: background-color 0.5s ease, padding 0.5s ease,
        border-radius 0.5s ease;

      &:hover {
        background-color: $red;
        border-radius: 50px;
        padding: 7px 22px;
      }

      &:focus {
        background-color: $red;
        border-radius: 50px;
        padding: 7px 22px;
      }
    }
  }

  .customers-sliders {
    display: flex;
    align-items: center;
    gap: 20px;

    &__btn {
      border: 1px solid $red;
      background-color: $red;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.5s ease, opacity 0.5s ease;

      @media only screen and (max-width: $tablet) {
        width: 40px;
        height: 40px;
      }

      @media only screen and (max-width: $mobile) {
        width: 35px;
        height: 35px;
      }

      &:hover {
        transform: scale(1.05);
      }

      &:focus {
        opacity: 0.8;
      }

      &--outline {
        background-color: $white;
      }
    }
  }
}
