.global-section {
  margin-top: 150px;
  transition: margin 0.5s ease;

  @media only screen and (max-width: $tablet-l) {
    margin-top: 120px;
  }

  @media only screen and (max-width: $tablet) {
    margin-top: 100px;
  }

  @media only screen and (max-width: $mobile) {
    margin-top: 70px;
  }

  &__wrapper {
    &-top {
      text-align: center;
    }

    &-middle {
      margin-top: 135px;
      transition: margin 0.5s ease;

      @media only screen and (max-width: $tablet-l) {
        margin-top: 110px;
      }

      @media only screen and (max-width: $tablet) {
        margin-top: 80px;
      }

      @media only screen and (max-width: $mobile) {
        margin-top: 60px;
      }
    }

    &-bottom {
      margin-top: 30px;
      transition: margin 0.5s ease;

      @media only screen and (max-width: $tablet) {
        margin-top: 20px;
      }

      @media only screen and (max-width: $mobile) {
        margin-top: 10px;
      }
    }
  }

  &__title {
    font-size: 35px;
    margin: 0 auto;
    max-width: 383px;
  }

  &__description {
    max-width: 555px;
    margin: 0 auto;
    margin-top: 20px;
  }

  &__img {
    width: 100%;
    height: auto;
    transition: width 0.5s ease;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    transition: gap 0.5s ease;

    @media only screen and (max-width: $tablet-l) {
      gap: 20px;
    }

    @media only screen and (max-width: $tablet) {
      gap: 10px;
    }
  }

  &__logo {
    transition: width 0.5s ease;

    @media only screen and (max-width: $tablet) {
      width: 150px;
    }

    @media only screen and (max-width: $mobile) {
      width: 130px;
    }
  }
}
