.hero-section {
  margin-top: 130px;
  transition: margin 0.5s ease;

  @media only screen and (max-width: $tablet-l) {
    margin-top: 85px;
  }

  @media only screen and (max-width: $tablet) {
    margin-top: 70px;
  }

  @media only screen and (max-width: $mobile) {
    margin-top: 50px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: $tablet) {
      flex-direction: column-reverse;
      gap: 30px;
    }
  }

  &__content {
    width: 50%;
    transition: width 0.5s ease;

    @media only screen and (max-width: $tablet) {
      width: 100%;
      text-align: center;
    }
  }

  &__title {
    font-size: 50px;
    margin-bottom: 20px;
    transition: font-size 0.5s ease, margin 0.5s ease;

    @media only screen and (max-width: $tablet-l) {
      font-size: 36px;
      margin-bottom: 16px;
    }

    @media only screen and (max-width: $tablet) {
      font-size: 28px;
      margin-bottom: 10px;
    }

    strong {
      font-weight: 700;
    }
  }

  &__btn {
    margin-top: 50px;
    transition: margin 0.5s ease;

    @media only screen and (max-width: $tablet-l) {
      margin-top: 35px;
    }

    @media only screen and (max-width: $tablet) {
      margin-top: 20px;
    }
  }

  &__image {
    width: 50%;
    transition: width 0.5s ease;

    @media only screen and (max-width: $tablet) {
      width: 70%;
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }
}
