.statistics-section {
  margin-top: 100px;

  @media only screen and (max-width: $tablet-l) {
    margin-top: 70px;
  }

  @media only screen and (max-width: $tablet) {
    margin-top: 50px;
  }

  @media only screen and (max-width: $mobile) {
    margin-top: 30px;
  }

  &__list {
    display: flex;
    align-items: center;
    padding: 67px 91px;
    justify-content: space-between;
    background-color: $lighter-gray;
    border-radius: 10px;

    @media only screen and (max-width: $tablet-l) {
      padding: 35px 60px;
    }

    @media only screen and (max-width: $tablet) {
      padding: 25px 50px;
    }

    @media only screen and (max-width: $mobile) {
      flex-direction: column;
      gap: 30px;
      padding: 15px 25px;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    gap: 36.5px;

    @media only screen and (max-width: $tablet-l) {
      gap: 20px;
    }

    @media only screen and (max-width: $tablet) {
      gap: 15px;
    }

    @media only screen and (max-width: $mobile) {
      gap: 25px;
    }
  }

  &__heading {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 5px;
    width: 83px;

    @media only screen and (max-width: $tablet-l) {
      font-size: 22px;
    }

    @media only screen and (max-width: $tablet) {
      font-size: 20px;
    }
  }

  &__text {
    font-size: 20px;

    @media only screen and (max-width: $tablet-l) {
      font-size: 18px;
    }

    @media only screen and (max-width: $tablet) {
      font-size: 17px;
    }
  }
}
