.subscribe-section {
  padding: 80px 0 65px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: $lighter-gray;
    padding: 70px 60px;
    transition: padding 0.5s ease;

    @media only screen and (max-width: $tablet-l) {
      padding: 60px 50px;
    }

    @media only screen and (max-width: $tablet) {
      padding: 40px 30px;
    }

    @media only screen and (max-width: $mobile) {
      padding: 30px 20px;
      flex-direction: column;
      text-align: center;
      gap: 30px;
    }
  }

  &__content {
    max-width: 370px;
  }

  &__title {
    font-size: 35px;
    margin-bottom: 20px;
    transition: font-size 0.5s ease;

    @media only screen and (max-width: $tablet-l) {
      font-size: 28px;
    }

    @media only screen and (max-width: $tablet) {
      font-size: 24px;
    }

    @media only screen and (max-width: $mobile) {
      font-size: 22px;
    }
  }
}
